.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.dice-area {
  display: inline-block;
}

#roll-button {
  display: block;
  margin: 30px auto;
  padding: 15px 30px;
  background-color: #4ECCA3;
  color: #393E46;
  font-family: 'Indie Flower', cursive;
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#reroll-overlay {
  display: none; /* Hidden by default, JS changes to flex to show */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  /* display: flex; /* This is removed, JS will set it to flex */
  align-items: center;
  justify-content: center;
}

#reroll-overlay p {
  color: #FFFFFF;
  font-family: 'Indie Flower', cursive;
  font-size: 3rem;
}
